@model IEnumerable<ChatRoom.Entities.Chat>
@using ChatRoom.Entities;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Message</span>
                </div>
                <input type="hidden" id="userInput" value="@User.Identity.Name" />
                <textarea class="form-control" aria-label="With textarea" id="messageInput"></textarea>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="sendButton">Send</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="3">ChatRoom - Channel</th>
                </tr>
            </thead>
            <tbody id="messagesList">
                @foreach (Chat chat in Model)
                {
                    <tr>
                        <td class="date-col">@chat.Date.ToString("MM/dd/yyyy H:mm")</td>
                        <td class="user-col">@chat.UserName</td>
                        <td class="message-col">@chat.Message</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</div>
